---
---
<section id="sobre-mi" class="py-20 bg-neutral-950">
  <div class="container mx-auto px-6">
    <div class="max-w-6xl mx-auto">
      <div class="text-center mb-16 animate-on-scroll">
        <h2 class="text-4xl md:text-5xl font-bold mb-6 text-white">
          Sobre <span class="gradient-text">mí</span>
        </h2>
        <div class="w-24 h-1 bg-gradient-to-r from-indigo-600 to-blue-500 mx-auto rounded-full"></div>
      </div>
      <div class="grid lg:grid  items-center">
        <div class="animate-on-scroll">
            <div class="glass-effect rounded-2xl p-8 shadow-lg mx-auto text-center">
            <h3 class="text-5xl font-bold text-white mb-6">Desarrollador Full Stack Junior</h3>
            <p class="text-lg text-zinc-200 leading-relaxed mb-6">
              Desarrollador web listo crear soluciones digitales que realmente funcionen para los negocios. 
              Especializado en desarrollar desde sitios web corporativos hasta aplicaciones web complejas con bases de datos.
            </p>
            <div class="grid grid-cols-2 gap-4">
              <div class="text-center p-4 bg-neutral-950 rounded-lg shadow-sm">
              <div class="text-2xl font-bold text-indigo-400">Proyectos</div>
              <div class="text-sm text-zinc-200">Más de 15 personales completados</div>
              </div>
              <div class="text-center p-4 bg-neutral-950 rounded-lg shadow-sm">
              <div class="text-2xl font-bold text-blue-400">Estudios</div>
              <div class="text-sm text-zinc-200"> FPGS Desarrollo de Aplicaicones Web</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
